/*color-primary: #780A28;
color-secondary: #25390B;*/

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

body, html {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  height: 100%;
  font-family: "Inter";
  color: #F4F4F4;
  
}

html{
	scroll-behavior: smooth;
}

#top-nav{
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  text-align: right;
  background-color: transparent;
  transition: color 1s ease, top 1s ease, background-color 1s ease;
  
}

#top-nav.fixed{
	position: fixed;
	top: 0;
	background-color: #EAE0E3;
	transition: color 1s ease, top 1s ease, background-color 1s ease;
}

#top-nav.fixed a{
	transition: color 0.3s ease, font-size 0.3s ease;
}

#top-nav.fixed a:hover{
	color:#6E2020;
  font-size: 17px;
}

.scrolled{
	background-color: yellow;
}

.refs{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 15px;
}

p{
	color: #3B3B3B;
}

a {
  color: #6E2020;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease, font-size 0.3s ease;
} 

a:hover {
  color: #3B3B3B;
  font-size: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 0%;
  height: 90%;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 75%;
  cursor: default;
}

#top-nav a {
  font-size: 16px;
  text-transform: uppercase;
  margin: 4px;
  color: #000000;
}

#top-nav a:hover {
  font-size: 17px;
  color: white;
}

#top-nav a.active {
  font-weight: 500;
}

#top-nav img{
  width: 120px;
  position: absolute;
  left: 32px;
  top: 0px; 
}

.page-intro {
  margin: 32px;
  margin-top: 258px;
  text-align: left;
}

.main-title {
  margin: 0px;
  font-family: "Newsreader";
  font-weight: 400;
  font-size: 80px;
  line-height: 88px;
  color: #F8F8F8;
}

.main-subtitle {
  margin: 0px 0 128px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height:40px;
  color: #F8F8F8;
}

.section-title {
  font-family: "Newsreader";
  font-weight: 500;
  font-size: 56px;
  line-height:64px;
  color: #6E2020;
  cursor: default;
}

.section-body {
  font-size: 20px;
  line-height:28px;
}

.statement {
  background-image: url("korki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 240px;
}

.statement .ornament {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  color:#ffffff;
  font-family: "Newsreader";
}

.btn {
  padding: 16px 24px 16px 24px;
  font-size: 16px;
  background-color: #6E2020;
  color: #ffffff;
  border-radius: 12px;
}

.btn:hover {
  background-color: darken(#6E2020, 3%);
  color: #ffffff;  
}

.link-btn {
  padding: 0px;
  font-size: 20px;
  line-height: 44px;
  color: #6E2020;
  border-radius: 12px;
  text-align: right;
  cursor: pointer;
}

.link-btn:hover {
  color: darken(#6E2020, 3%);
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px 16px;
  position: relative;
}

.carousel .element {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  padding: 8px 4px;
  border-radius: 8px;
}

/*.carousel .element:hover {
  box-shadow: 4px 4px 40px 12px #EAE0E3;
  background-color: #ffffff;
}*/

.carousel .image {
  position: relative;
  width: 60px;
  height: 240px;
}

.carousel .label {
  position: relative;
  width: fit-content;
  font-family: "Newsreader";
  font-weight: medium;
  color: #000000;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  top: 8px;
}

.carousel .text {
  position: relative;
  width: fit-content;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  top: 4px;
}

.section-head {
  display: flex;
  justify-content: space-between; /* Rozstawia elementy na przeciwległe końce */
  align-items: center;            /* Wyrównuje je pionowo na środku */
  padding: 1rem 0;                /* Opcjonalne odstępy */
}

.btn-icon {
  transition: transform 0.3s ease;
}

.btn:hover .btn-icon {
  transform: translateX(4px);
}