/*color-primary: #780A28;
color-secondary: #25390B;*/

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

body, html {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  height: 100%;
  font-family: "Inter";
}

h1{
  font-size: 80px;
  line-height: 82px;
}

h2{
  font-size: 56px;
  line-height: 60px;
}

h3{
  font-size: 40px;
  line-height: 44px;
}

ul{
  color:#000000;
}

html{
	scroll-behavior: smooth;
}

#backToTop {
  position: fixed;
  bottom: -60px;
  right: 30px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: bottom 0.5s ease;
}

#backToTop.seen{
  bottom: 30px;
  transition: bottom 0.5s ease;
} 

#backToTop:hover {
  background-color: #555;
}

#top-nav{
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  text-align: right;
  background-color: transparent;
  transition: color 1s ease, top 1s ease, background-color 1s ease;
  
}

#top-nav.fixed{
	position: fixed;
	top: 0;
	background-color: #EAE0E3;
	transition: color 1s ease, top 1s ease, background-color 1s ease;
}

#top-nav.fixed a{
	transition: color 0.3s ease, font-size 0.3s ease;
}

#top-nav.fixed a:hover{
	color:#6E2020;
  font-size: 17px;
}

.scrolled{
	background-color: yellow;
}

.refs{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 15px;
}

p{
	color: #3B3B3B;
}

a {
  color: #6E2020;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease, font-size 0.3s ease;
} 

#about a:hover {
  color: #3B3B3B;
  font-size: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 40px 0;
}



.container {
  max-width: 100%;/*1200px;*/
  margin: 0 auto;
  position: relative;
  /* padding: 0 20px; */
}

#about .container{
  position: relative;
  display: flex;
  flex-direction: row;
}

.wincyj{
  position: relative;
  width: 100%;
  height: 24px;
}

#about .wincyj a{
  position: absolute;
  right: 0;
}

#wina .section-head{
  display: flex;
  flex-direction: column;
}

#wina .section-title{
  margin: 0 auto;
}

#wina .section-title2{
  margin: 0;
}

#wina .wincyj{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  margin: 20px auto;
  height: 50px;
  border: 2px solid red;
}

#wina .wincyj a{
  height: 100%;
  width: 100%;
  text-align: center;
  
}

#wina .wincyj a div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* poziomo */
  align-items: center;
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

#wina .wincyj a div:hover{
  background-color: red;
  color: white;
}

#features .section-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#features .container{
  padding-left: 4rem;
  padding-right: 4rem;
}

#gallery .section-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#gallery .container{
  padding-left: 4rem;
  padding-right: 4rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

#gallery .wincyj{
  position: relative;
  width: 100%;
  height: 24px;
  margin-top: 28px;
}

#gallery .wincyj a{
  position: absolute;
  right: 0;
  cursor: pointer;
}



.item {
  background-color: #ddd;
  border-radius: 3px;
}

/* Style poszczególnych rozmiarów */
.tall {
  grid-row: span 4;
  grid-column: span 2;
}

.high{
  grid-row: span 3;
  grid-column: span 2;
}

.medium {
  grid-row: span 3;
  grid-column: span 3;
}

.small {
  grid-row: span 2;
  grid-column: span 3;
}



.main-splash {
  position:relative;
  display:flex;
  flex-direction: column;
  height: 100%;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: 80% cover;
  background-position: top;
  cursor: default;
  padding: 40px;
}



#top-nav a {
  font-size: 16px;
  text-transform: uppercase;
  margin: 4px;
  color: #000000;
}

#top-nav a:hover {
  font-size: 17px;
  color: white;
}

#top-nav a.active {
  font-weight: 500;
}

#top-nav img{
  width: 120px;
  position: absolute;
  left: 32px;
  top: 0px; 
}

.page-intro {
  margin-top: 258px;
  text-align: left;
}

.main-title {
  margin: 0px;
  font-family: "Newsreader";
  font-weight: 400;
  color: #F8F8F8;
}

.main-subtitle {
  margin: 0px 0 128px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #F8F8F8;
}

.section-title {
  font-family: "Newsreader";
  font-weight: 500;
  color: #6E2020;
  cursor: default;
  margin: 0;
}

.statement {
  background-image: url("korki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 240px;
}

.statement .ornament {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  color:#ffffff;
  font-family: "Newsreader";
}

.btn {
  padding: 16px 24px 16px 24px;
  font-size: 16px;
  background-color: #6E2020;
  color: #ffffff;
  border-radius: 12px;
  margin-top: 20px;
}

.btn:hover {
  background-color: darken(#6E2020, 3%);
  color: #ffffff;  
}

.link-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 0px;
  font-size: 20px;
  line-height: 44px;
  color: #6E2020;
  border-radius: 12px;
  text-align: right;
  cursor: pointer;
}

.link-btn:hover {
  color: darken(#6E2020, 3%);
}

.section-logo{
  width: 30%;
  height: 100%;
}

.section-text{
  width: 70%;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  /* gap: 16px 16px; */
  position: relative;
  height: 1100px;
}

/* .carousel .element {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  padding: 8px 4px;
  border-radius: 8px;
} */

/*.carousel .element:hover {
  box-shadow: 4px 4px 40px 12px #EAE0E3;
  background-color: #ffffff;
}*/

.flip-wrapper{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: center;
  /* gap: 4px; */
  position: relative;
  /* padding: 8px 4px; */
  border-radius: 8px;

  /* width: 200px; */
  height: 50%;
  margin: 0;
  padding: 0;
  /* perspective: 1000px; efekt 3D */
}

.flip-card {
  width: 100%;
  

  /* width: 200px; */
  height: 100%;
  /* perspective: 1000px; */
  overflow: hidden;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-wrapper:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* pointer-events: none; */
}

.flip-card-front {
  background-color: #eee;
}

.flip-card-back {
  background-color: #ddd;
  transform: rotateY(180deg);
}

.carousel .image {
  position: relative;
  width: 60px;
  height: 240px;
}

.carousel .label {
  position: relative;
  width: fit-content;
  font-family: "Newsreader";
  font-weight: medium;
  color: #000000;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  top: 8px;
}

.carousel .text {
  position: relative;
  width: fit-content;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  top: 4px;
}

.section-head {
  display: flex;
  justify-content: space-between; /* Rozstawia elementy na przeciwległe końce */
  align-items: center;            /* Wyrównuje je pionowo na środku */
  padding: 1rem 0;                /* Opcjonalne odstępy */
}

.btn-icon {
  width: 16px;
  height: 16px;
  background-image: url("arrow-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: transform 0.2s ease;
}

.link-btn:hover .btn-icon {
  transform: translateX(4px);
}

/* sekcja OFERTA */

.section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  height: 1000px;
}

.section-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 25%;
}

.section-content .photo{
  width: 50%;
  background-color:#6E2020;
}

.section-content .description{
  width: 50%;
}

.section-content h3 {
  margin-bottom: 16px;
}

.section-content p {
  margin-bottom: 20px;
}

.section-content ul {
  list-style-type: disc;
  margin-bottom: 20px;
}

.section-content ul li {
  margin-bottom: 8px;
}

.image-container {
  flex: 1;
  max-width: 40%;
  height: auto;
  padding: 20px;
  background-image: url("mgliste.png");
}


footer{
  background-color:#6E2020;
  height: 32vh;
  display: flex;
  flex-direction: row;
}

footer .dane{
  width: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

footer .dane .logo{
  width: 40%;
}

footer .dane .tekst{
  width: 60%;
}

footer .dane .tekst .main{
  font-weight: bold;
}

footer .dane p{
  margin-bottom: 8px;
  margin-top: 0;
  color: white;
}

footer .reserved{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-bottom: 18px;
}

footer .reserved p{
  color: white;
}

footer .socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 21%;
  gap: 20px;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-bottom: 42px;
  margin-left: auto;
}


/* Responsywność */

/*TABLET*/

@media (max-width: 1060px) {
  
}

/*MOBILE*/

@media (max-width: 550px) {
  body, html {
    font-size: 16px;
    line-height: 20px;
  }

  h1{
    font-size: 60px;
    line-height: 66px;
  }
  
  h2{
    font-size: 40px;
    line-height: 44px;
  }

  h3{
    font-size: 32px;
    line-height: 36px;
  }

  .main-splash{
  padding: 16px;
  }

  .main-subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .section-container {
    flex-direction: column;
    align-items: right;
    gap: 8px;
  }

  .section-content, .image-container {
    min-width: 100%;
    min-height:260px;
  }
}