body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
  }

  .heading {
    text-transform: uppercase;
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    width: auto; /* dopasowuje się do zawartości */
    max-width: 100%;
  }

  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .table-container .subtext {
    font-size: 14px; 
    color: #555;
  }

  .footer {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.2;
    row-gap: 2px;
    max-width: 100%;
  }

  .highlight {
    font-weight: bold;
  }

  @media (max-width: 500px) {
    body {
      padding: 10px;
      font-size: 14px;
    }

    table{
        width: 100%;
    }

    th, td {
      padding: 8px;
    }

    .table-container .subtext {
        font-size: 12px; 
      }

    .footer {
      font-size: 14px;
    }

    @media (max-width: 350px) {
        body {
          padding: 4px;
        }
    
        th, td {
          padding: 4px;
        }
    
  }